
<div class="row justify-content-left align-content-center text-left">
    <div class="columna col-lg-6">
     MODULO INVENTARIOS
     <hr>
                 <input type="button" value="Registrar insumo" class="btn btn-warning">
                 <div id="formulario"> </div>
                 <div id="tabla">
                   <div class="row">
                     <div class="col-lg-1"></div>
                     <div class="col-lg-10">
                       <div class="responsive">
                         <table class="table">
           
                           <tr>
                             <th>id_areainv</th>
                             <th>Nombre_Area</th>
                             <th>Codigo_insumo</th>
                             <th>nombre_insumo</th>
                             <th>cantidad</th>
                             <th>producto</th>
                             <th>usuario</th>
                          </tr>
                           <tr *ngFor="let item of inventarios">
                             <td>{{item.id_areainv}}</td> 
                             <td>{{item.Nombre_Area}}</td>
                             <td>{{item.Codigo_insumo}}</td>
                             <td>{{item.nombre_insumo}}</td>
                             <td>{{item.cantidad}}</td>
                             <td>{{item.producto}}</td>
                             <td>{{item.usuario}}</td>



                            
                             <td>Acciones</td>
                            <td>
                             <span class="fas fa-edit" style="color: blue; cursor: pointer"title="Editar"> </span>
                             <span class="fas fa-minus-square" style="color: red; cursor: pointer " title="Eliminar"> </span>
                            </td>
                           </tr>
           
                         </table>
                       </div>
                     </div>
                     <div class="col-lg-1"></div>
                   </div>
                 </div>
    </div>
    
    
</div>