<div class="container-fluid">
    <div class="row">
        <div class="barra-lateral col-12 col-sm-auto">
            <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
                <a [routerLink]="['/dashboard']"><i class="fas fa-home"></i><span>Inicio</span></a>
                <a [routerLink]="['/usuarios']"><i class="fa-regular fa-user"></i><span> Usuarios</span></a>
                <a [routerLink]="['/productos']"><i class="fa-brands fa-product-hunt"></i><span>Productos  </span></a>
                <a [routerLink]="['/compras']"><i class="fa-solid fa-cart-shopping"></i><span> Compras</span></a>
                <a [routerLink]="['/proveedores']"><i class="fa-solid fa-truck-field"></i><span> Proveedores</span></a>
                <a [routerLink]="['/inventarios']"><i class="fa-solid fa-store"></i><span> Inventarios</span></a>
                <a [routerLink]="['/controlysoporte']"><i class="fa-solid fa-gear"></i><span> Control y Soporte </span></a>
            </nav>
        </div>
        <main class="main col">
            <div class="row justify-content-center align-content-center text-center">
                <div class="columna col-lg-6">
                  
                </div>
                

            </div>

        </main>
    </div>
</div>

