<div class="row justify-content-left align-content-center text-left">
    <div class="columna col-lg-6">
      MODULO PRODUCTOS 

      <hr>
      <input type="button" value="Insertar producto" class="btn btn-warning">
      <div id="formulario"> </div>
      <div id="tabla">
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <div class="responsive">
              <table class="table">

                <tr>
                  <th>id_producto</th>
                  <th>Nombre</th>
                  <th>cantidad</th>
                  <th>fo_proveedores</th>
                </tr>
                <tr *ngFor="let item of producto">
                  <td>{{item.id_producto}}</td> 
                  <td>{{item.nombre}}</td>
                  <td>{{item.cantidad}}</td>
                  <td>{{item.fo_proveedores}}</td>
                  <td>Acciones</td>
                 <td>
                  <span class="fas fa-edit" style="color: blue; cursor: pointer"title="Editar"> </span>
                  <span class="fas fa-minus-square" style="color: red; cursor: pointer " title="Eliminar"> </span>
                 </td>
                </tr>

              </table>
            </div>
          </div>
          <div class="col-lg-1"></div>
        </div>
      </div>
    </div>
    
    
</div>
